.input-search {
    width: 350px !important;
}

.toast-nofication {
    right: 0;
    top: 0;
    animation: show 0.5s linear;
}

.table-wrapp {
    overflow-x: scroll;
}

.table-user {
    min-width: 695px;
}

@keyframes show {
    from {
        transform: translateX(calc(100% + 30px));
    }
    to {
        transform: translateX(0px);
    }
}
