.loading {
    animation: spinner 1s linear infinite;
}

.toast {
    top: 0;
    right: 0;
    animation: showToast 0.5s linear;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes showToast {
    from {
        transform: translateX(calc(100% + 32px));
    }
    to {
        transform: translateX(0);
    }
}

@keyframes hideToast {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100% + 32px));
    }
}
